<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:description="@string/xposed_description"
        tools:replace="android:description">
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.CropActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.MiCTS" />
    </application>
</manifest>
